

.quiz_essentials{

    width: 100vw;
    height: 50px;
    margin-top:20px;

    display: flex;
    justify-content: center;
 
    

}
.main_btns{
    font-family: 'Gowun Dodum', sans-serif;

    /* border:2px solid whitesmoke; */
    width: 50vw;
    display:flex;
    align-items: center;
    justify-content: space-around;

}
.main_btns >.right_btn>select,.main_btns>.left_btn>select{
padding:6px 0px;
outline: none;
}
.container{
    display: flex;
    margin-top:80px;
    justify-content: center;
}
.main_body{
    display: grid;
    place-items: center;
    height: 20vh;
    width: 10vw;
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.2);
}
