@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Style Script', cursive;
    color: #0fa781;
}
body{
    overflow:hidden;

}
header{
    width: 100%;
    height: 50px;
}
nav{
    padding: 10px;
    display: flex;
    width: 100%;
    height:100%;
    justify-content: space-between;
    align-items: center;
}
.hamburger{
 position: relative;
    width: 20px;
    text-align: left;
    height: 2px;
    background: linear-gradient(to right, #4cb8c4, #3cd3ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-right: 12px;
}
.hamburger::before{
    content: "";
    position: absolute;
    margin-top:5px;
    top: 0;
  left:0;
    width: 18px;
    height:2px;
    background: linear-gradient(to right, #4cb8c4, #3cd3ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hamburger::after{
    content:"";
    position: absolute;
    margin-top:10px;
    top:0;
left:0;
    width:16px;
    height: 2px;
    background: linear-gradient(to right, #4cb8c4, #3cd3ad); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main__body{
    display: grid;
    place-items: center;
    height: 80vh;
}


.que{
    padding-bottom: 20px;
}
.form{
    position: relative;
    background-color: white;
    padding: 40px;
    border-radius:20px;
    box-shadow: 2px 1px 3px 2px rgba(158, 125, 125, 0.3);
}
.form label{
    font-family: 'Gowun Dodum', sans-serif;

}
button{
    position: absolute;
    right:0;
    bottom:10px;
    margin-right: 20px;
    transition: all 0.7s  ease;
box-shadow: 2px 2px 5px  rgba(0,0,0,0.3);
    background:linear-gradient(to right, #4cb8c4, #3cd3ad) ;
    border:none;
    padding:7px 10px;
    border-radius:10px;
    color:white;

}
button:hover{
background: linear-gradient(to right,#317f88, #0fa781);
cursor:pointer;

}
.blackhover{
    width: 32px;
    height: 32px;
    margin-left: -6px;
    margin-top: -10px;
    background-color: black;
    opacity: 0.1;
    border-radius: 50%;
}


footer{

 
    display: grid;
    place-items: center;
}